In [1]:
!pip install sqlalchemy
import sqlalchemy
sqlalchemy.__version__

Requirement already satisfied: sqlalchemy in c:\users\vijay\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vijay\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

'1.4.32'

Create a database and table college and student repectively

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

#connecting to database
#creation of engine object
engine = create_engine('sqlite:///college.db', echo = True)

# defination and craetion of table of table 
meta = MetaData()
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

# engine.drop() this may delete the tablenfrom metadata

2023-06-03 05:01:10,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-03 05:01:10,677 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-06-03 05:01:10,678 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-03 05:01:10,679 INFO sqlalchemy.engine.Engine COMMIT

Insert into table

In [16]:
#creation of insert object
ins = students.insert()

#modify the value of insertion
ins = students.insert().values(name = 'Vijay', lastname = 'Rai')

#creating a connection with connection object 
conn = engine.connect()

# executing the expression for final commit
result = conn.execute(ins)

2023-06-02 12:59:57,799 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2023-06-02 12:59:57,800 INFO sqlalchemy.engine.Engine [cached since 61.94s ago] ('Vijajhhy', 'Rai')
2023-06-02 12:59:57,803 INFO sqlalchemy.engine.Engine COMMIT

insert value in specific field

In [19]:
#creation of insert object
ins = students.insert()

#insert value in a specific field.
ins = students.insert().values(name = 'Kasdsran')

#creating a connection with connection object 
conn = engine.connect()

## executing the expression for final commit
result = conn.execute(ins)

2023-06-02 13:10:35,351 INFO sqlalchemy.engine.Engine INSERT INTO students (name) VALUES (?)
2023-06-02 13:10:35,352 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('Kasdsran',)
2023-06-02 13:10:35,358 INFO sqlalchemy.engine.Engine COMMIT

to issue many inserts using DBAPI’s execute many() method,there is  list of dictionaries each containing a distinct set of parameters to be inserted.

In [23]:
#creating a connection with connection object 
conn = engine.connect()

#enter the rows
result = conn.execute(students.insert(), [
       {'name':'Rajdfsdiv', 'lastname' : 'Khanna'},
       {'name':'Komadfsfl','lastname' : 'Bhandari'},
       {'name':'Abddfsdul','lastname' : 'Sattar'},
       {'name':'Prisdfsdya','lastname' : 'Rajhans'},
    ])

2023-06-02 13:25:08,837 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2023-06-02 13:25:08,838 INFO sqlalchemy.engine.Engine [cached since 13.2s ago] (('Rajdfsdiv', 'Khanna'), ('Komadfsfl', 'Bhandari'), ('Abddfsdul', 'Sattar'), ('Prisdfsdya', 'Rajhans'))
2023-06-02 13:25:08,840 INFO sqlalchemy.engine.Engine COMMIT

select rows in table

In [24]:
#create a select object of the table object
s = students.select()

#create a connection object
conn = engine.connect()

#execute the selcet statment
result = conn.execute(s)


# fetch the rows one by one
for i in result:
    print (row)

2023-06-02 13:32:13,582 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2023-06-02 13:32:13,583 INFO sqlalchemy.engine.Engine [generated in 0.00095s] ()
(1, 'Vijay', 'Rai')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')
(6, 'Vijay', 'Rai')
(7, 'Vijajhhy', 'Rai')
(8, 'Kasdsran', None)
(9, 'Rajdfsdiv', 'Khanna')
(10, 'Komadfsfl', 'Bhandari')
(11, 'Abddfsdul', 'Sattar')
(12, 'Prisdfsdya', 'Rajhans')
(13, 'Rajdfsdiv', 'Khanna')
(14, 'Komadfsfl', 'Bhandari')
(15, 'Abddfsdul', 'Sattar')
(16, 'Prisdfsdya', 'Rajhans')

In [25]:
s = students.select()
conn = engine.connect()
result = conn.execute(s)

for row in result:
    print (row)

2023-06-02 13:32:23,247 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2023-06-02 13:32:23,249 INFO sqlalchemy.engine.Engine [cached since 9.667s ago] ()
(1, 'Vijay', 'Rai')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')
(6, 'Vijay', 'Rai')
(7, 'Vijajhhy', 'Rai')
(8, 'Kasdsran', None)
(9, 'Rajdfsdiv', 'Khanna')
(10, 'Komadfsfl', 'Bhandari')
(11, 'Abddfsdul', 'Sattar')
(12, 'Prisdfsdya', 'Rajhans')
(13, 'Rajdfsdiv', 'Khanna')
(14, 'Komadfsfl', 'Bhandari')
(15, 'Abddfsdul', 'Sattar')
(16, 'Prisdfsdya', 'Rajhans')

where clause where the column id is grater than 2

In [34]:
s = students.select().where(students.columns.id>2)
conn = engine.connect()
result = conn.execute(s)

for row in result:
    print (row)

2023-06-02 13:36:14,656 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id > ?
2023-06-02 13:36:14,656 INFO sqlalchemy.engine.Engine [cached since 20.5s ago] (6,)
(7, 'Vijajhhy', 'Rai')
(8, 'Kasdsran', None)
(9, 'Rajdfsdiv', 'Khanna')
(10, 'Komadfsfl', 'Bhandari')
(11, 'Abddfsdul', 'Sattar')
(12, 'Prisdfsdya', 'Rajhans')
(13, 'Rajdfsdiv', 'Khanna')
(14, 'Komadfsfl', 'Bhandari')
(15, 'Abddfsdul', 'Sattar')
(16, 'Prisdfsdya', 'Rajhans')

In [38]:
from sqlalchemy.sql import select
s = select(['students'])
result = conn.execute(s)

ArgumentError: Textual column expression 'students' should be explicitly declared with text('students'), or use column('students') for more specificity

alternative select using plain text

In [42]:
from sqlalchemy import text
t = text("SELECT * FROM students")
conn = engine.connect()
result = conn.execute(t)
for i in result:
    print(i)

2023-06-02 13:41:39,977 INFO sqlalchemy.engine.Engine SELECT * FROM students
2023-06-02 13:41:39,979 INFO sqlalchemy.engine.Engine [cached since 45.81s ago] ()
(1, 'Vijay', 'Rai')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')
(6, 'Vijay', 'Rai')
(7, 'Vijajhhy', 'Rai')
(8, 'Kasdsran', None)
(9, 'Rajdfsdiv', 'Khanna')
(10, 'Komadfsfl', 'Bhandari')
(11, 'Abddfsdul', 'Sattar')
(12, 'Prisdfsdya', 'Rajhans')
(13, 'Rajdfsdiv', 'Khanna')
(14, 'Komadfsfl', 'Bhandari')
(15, 'Abddfsdul', 'Sattar')
(16, 'Prisdfsdya', 'Rajhans')

In [ ]:
alternative select stament with where clause using plain text

In [43]:
from sqlalchemy.sql import text
s = text("select students.name, students.lastname from students where students.name between :x and :y")
conn = conn = engine.connect()
conn.execute(s, x = 'A', y = 'L').fetchall()

2023-06-02 13:43:24,878 INFO sqlalchemy.engine.Engine select students.name, students.lastname from students where students.name between ? and ?
2023-06-02 13:43:24,879 INFO sqlalchemy.engine.Engine [generated in 0.00101s] ('A', 'L')

[('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Kasdsran', None),
 ('Komadfsfl', 'Bhandari'),
 ('Abddfsdul', 'Sattar'),
 ('Komadfsfl', 'Bhandari'),
 ('Abddfsdul', 'Sattar')]

and to combinen multiple where clause. To fetch all the rows with names between “A” and “L” and with id greater than 2.

In [45]:
from sqlalchemy import and_
from sqlalchemy.sql import select
s = select([text("* from students")]) \
.where(
   and_(
      text("students.name between :x and :y"),
      text("students.id>5")
   )
)
conn.execute(s, x = 'A', y = 'L').fetchall()

2023-06-02 13:47:17,826 INFO sqlalchemy.engine.Engine SELECT * from students
WHERE students.name between ? and ? AND students.id>5
2023-06-02 13:47:17,826 INFO sqlalchemy.engine.Engine [generated in 0.00071s] ('A', 'L')

[(8, 'Kasdsran', None),
 (10, 'Komadfsfl', 'Bhandari'),
 (11, 'Abddfsdul', 'Sattar'),
 (14, 'Komadfsfl', 'Bhandari'),
 (15, 'Abddfsdul', 'Sattar')]

update method. 
update row where last name is khanna and set its value to kapoor

In [46]:
#creating the conncetion with connection object
conn = engine.connect()

#update object
stmt=students.update().where(students.columns.lastname=='Khanna').values(lastname='Kapoor')

#execute the update stament
conn.execute(stmt)

#display result
s = students.select()
conn.execute(s).fetchall()

2023-06-02 13:51:27,016 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=? WHERE students.lastname = ?
2023-06-02 13:51:27,017 INFO sqlalchemy.engine.Engine [generated in 0.00126s] ('Kapoor', 'Khanna')
2023-06-02 13:51:27,023 INFO sqlalchemy.engine.Engine COMMIT
2023-06-02 13:51:27,028 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2023-06-02 13:51:27,029 INFO sqlalchemy.engine.Engine [cached since 1153s ago] ()

[(1, 'Vijay', 'Rai'),
 (3, 'Komal', 'Bhandari'),
 (4, 'Abdul', 'Sattar'),
 (5, 'Priya', 'Rajhans'),
 (6, 'Vijay', 'Rai'),
 (7, 'Vijajhhy', 'Rai'),
 (8, 'Kasdsran', None),
 (9, 'Rajdfsdiv', 'Kapoor'),
 (10, 'Komadfsfl', 'Bhandari'),
 (11, 'Abddfsdul', 'Sattar'),
 (12, 'Prisdfsdya', 'Rajhans'),
 (13, 'Rajdfsdiv', 'Kapoor'),
 (14, 'Komadfsfl', 'Bhandari'),
 (15, 'Abddfsdul', 'Sattar'),
 (16, 'Prisdfsdya', 'Rajhans')]

In [51]:
#alternate method to update but will have to import update from sqlalchemy

from sqlalchemy.sql.expression import update
stmt = update(students).where(students.c.lastname == 'Kapoor').values(lastname = 'pappu')

#creating the conncetion with connection object
conn = engine.connect()

#exceute the update statemnet
conn.execute(stmt)

#dispaly result
s = students.select()
conn.execute(s).fetchall()

2023-06-02 13:55:04,901 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=? WHERE students.lastname = ?
2023-06-02 13:55:04,902 INFO sqlalchemy.engine.Engine [cached since 217.9s ago] ('pappu', 'Kapoor')
2023-06-02 13:55:04,904 INFO sqlalchemy.engine.Engine COMMIT

delete statement

In [53]:
#delete all rows from table
#stmt = students.delete()
#conn.execute(stmt)

#connecting to 
conn = engine.connect()

#creation of delete object
stmt = students.delete().where(students.c.lastname == 'Khanna')

#execute the delete statement
conn.execute(stmt)

#fetch the result may also use the for loop instead
s = students.select()
conn.execute(s).fetchall()

2023-06-02 13:58:21,238 INFO sqlalchemy.engine.Engine DELETE FROM students
2023-06-02 13:58:21,240 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ()
2023-06-02 13:58:21,241 INFO sqlalchemy.engine.Engine COMMIT

creation of two table with one foreign key.The st_id column in addresses table refers to id column in students table. use this relation to fetch data from both the tables. fetch name and lastname from students table corresponding to st_id in the addresses table.the follwing code is equivalent to
SELECT students.id, 
   students.name, 
   students.lastname, 
   addresses.id, 
   addresses.st_id, 
   addresses.postal_add, 
   addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id

In [67]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///college.db', echo=True)
meta = MetaData()

#defination of table students
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

#define the table addresses
addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))

#create the tables
meta.create_all(engine)

#insert into table table students
conn.execute(students.insert(), [
   {'name':'Ravi', 'lastname':'Kapoor'},
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

#insert into table address
conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
])


from sqlalchemy.sql import select
s = select([students, addresses]).where(students.c.id == addresses.c.st_id)
result = conn.execute(s)

for row in result:
    print (row)

2023-06-02 14:27:50,236 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 14:27:50,236 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-06-02 14:27:50,238 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-02 14:27:50,239 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2023-06-02 14:27:50,240 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-02 14:27:50,241 INFO sqlalchemy.engine.Engine COMMIT
2023-06-02 14:27:50,242 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2023-06-02 14:27:50,243 INFO sqlalchemy.engine.Engine [generated in 0.00060s] (('Ravi', 'Kapoor'), ('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2023-06-02 14:27:50,245 INFO sqlalchemy.engine.Engine COMMIT
2023-06-02 14:27:50,248 INFO sqlalchemy.engine.Engine INSERT INTO addresses (st_id, postal_add, email_add) VALUES (?, ?, ?)
2023-06-02 14:27:50,249 INFO sqlalchemy.engine.Engine [generated in 0.00074s] ((1, 'Shivajinagar Pune', 'ravi@gmail.com'), (1, 'ChurchGate Mumbai', 'kapoor@gmail.com'), (3, 'Jubilee Hills Hyderabad', 'komal@gmail.com'), (5, 'MG Road Bangaluru', 'as@yahoo.com'), (2, 'Cannought Place new Delhi', 'admin@khanna.com'))
2023-06-02 14:27:50,251 INFO sqlalchemy.engine.Engine COMMIT
2023-06-02 14:27:50,256 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname, addresses.id AS id_1, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id
2023-06-02 14:27:50,257 INFO sqlalchemy.engine.Engine [generated in 0.00055s] ()
(1, 'Ravi', 'Kapoor', 1, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 4, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 5, 2, 'Cannought Place new Delhi', 'admin@khanna.com')
(1, 'Ravi', 'Kapoor', 6, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 7, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 8, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 9, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 10, 2, 'Cannought Place new Delhi', 'admin@khanna.com')
(1, 'Ravi', 'Kapoor', 11, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 12, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 13, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 14, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 15, 2, 'Cannought Place new Delhi', 'admin@khanna.com')
(1, 'Ravi', 'Kapoor', 16, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 17, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 18, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 19, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 20, 2, 'Cannought Place new Delhi', 'admin@khanna.com')

2023-06-02 14:26:30,607 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname, addresses.id AS id_1, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id
2023-06-02 14:26:30,609 INFO sqlalchemy.engine.Engine [cached since 146.7s ago] ()
(1, 'Ravi', 'Kapoor', 1, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 4, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 5, 2, 'Cannought Place new Delhi', 'admin@khanna.com')
(1, 'Ravi', 'Kapoor', 6, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 7, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 8, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 9, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 10, 2, 'Cannought Place new Delhi', 'admin@khanna.com')
(1, 'Ravi', 'Kapoor', 11, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 12, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 13, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 14, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 15, 2, 'Cannought Place new Delhi', 'admin@khanna.com')

In [74]:
"""sqlite does not support multiple-table criteria within UPDATE but the As far as MySQL dialect is
concerned, multiple tables can be embedded into a single UPDATE statement separated by a comma as
given below −
stmt = students.update().\
   values(name = 'xyz').\
   where(students.c.id == addresses.c.id)
result = conn.execute(stmt)
"""

"""
this is alo not supported in sqllite
stmt = students.delete().\
   where(students.c.id == addresses.c.id).\
   where(addresses.c.email_add.startswith('xyz%'))
conn.execute(stmt)
"""

"\nthis is alo not supported in sqllite\nstmt = students.delete().   where(students.c.id == addresses.c.id).   where(addresses.c.email_add.startswith('xyz%'))\nconn.execute(stmt)\n"

joins

In [75]:

from sqlalchemy import join
from sqlalchemy.sql import select
j = students.join(addresses, students.c.id == addresses.c.st_id)
stmt = select([students]).select_from(j)
result = conn.execute(stmt)
result.fetchall()

2023-06-02 14:38:35,868 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students JOIN addresses ON students.id = addresses.st_id
2023-06-02 14:38:35,870 INFO sqlalchemy.engine.Engine [generated in 0.00150s] ()

[(1, 'Ravi', 'Kapoor'),
 (1, 'Ravi', 'Kapoor'),
 (3, 'Komal', 'Bhandari'),
 (5, 'Priya', 'Rajhans'),
 (2, 'Rajiv', 'Khanna'),
 (1, 'Ravi', 'Kapoor'),
 (1, 'Ravi', 'Kapoor'),
 (3, 'Komal', 'Bhandari'),
 (5, 'Priya', 'Rajhans'),
 (2, 'Rajiv', 'Khanna'),
 (1, 'Ravi', 'Kapoor'),
 (1, 'Ravi', 'Kapoor'),
 (3, 'Komal', 'Bhandari'),
 (5, 'Priya', 'Rajhans'),
 (2, 'Rajiv', 'Khanna'),
 (1, 'Ravi', 'Kapoor'),
 (1, 'Ravi', 'Kapoor'),
 (3, 'Komal', 'Bhandari'),
 (5, 'Priya', 'Rajhans'),
 (2, 'Rajiv', 'Khanna')]

and clause

In [82]:
# select from table students where name = ravi and id <5

from sqlalchemy import and_, or_

# create a elect object with and  clause
stmt = select([students]).where(and_(students.c.name == 'Ravi', students.c.id < 5))

#create a connection with connection string
conn = engine.connect()

#execute the stmt
result = conn.execute(stmt)

#fetch and show result
print (result.fetchall())

2023-06-02 14:55:31,705 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.name = ? OR students.id < ?
2023-06-02 14:55:31,706 INFO sqlalchemy.engine.Engine [generated in 0.00129s] ('Ravi', 3)
[(1, 'Ravi', 'Kapoor'), (2, 'Rajiv', 'Khanna'), (6, 'Ravi', 'Kapoor'), (11, 'Ravi', 'Kapoor'), (16, 'Ravi', 'Kapoor')]

or clause

In [ ]:
# select from table students where name = ravi or id <5

from sqlalchemy import and_, or_

# create a elect object with or clause
stmt = select([students]).where(or_(students.c.name == 'Ravi', students.c.id <3))

#create a connection with connection string
conn = engine.connect()

#exceute the stmt
result = conn.execute(stmt)

#fetch and print result
print (result.fetchall())

ascending clause

In [84]:
from sqlalchemy import asc
stmt = select([students]).order_by(asc(students.c.name))
conn = engine.connect()
result = conn.execute(stmt)

for i in result:
    print (i)

2023-06-02 15:01:13,839 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students ORDER BY students.name ASC
2023-06-02 15:01:13,840 INFO sqlalchemy.engine.Engine [generated in 0.00113s] ()
(4, 'Abdul', 'Sattar')
(9, 'Abdul', 'Sattar')
(14, 'Abdul', 'Sattar')
(19, 'Abdul', 'Sattar')
(3, 'Komal', 'Bhandari')
(8, 'Komal', 'Bhandari')
(13, 'Komal', 'Bhandari')
(18, 'Komal', 'Bhandari')
(5, 'Priya', 'Rajhans')
(10, 'Priya', 'Rajhans')
(15, 'Priya', 'Rajhans')
(20, 'Priya', 'Rajhans')
(2, 'Rajiv', 'Khanna')
(7, 'Rajiv', 'Khanna')
(12, 'Rajiv', 'Khanna')
(17, 'Rajiv', 'Khanna')
(1, 'Ravi', 'Kapoor')
(6, 'Ravi', 'Kapoor')
(11, 'Ravi', 'Kapoor')
(16, 'Ravi', 'Kapoor')

desc clause

In [85]:
from sqlalchemy import desc
stmt = select([students]).order_by(desc(students.c.lastname))
conn = engine.connect()
result = conn.execute(stmt)

for i in result:
    print (i)

2023-06-02 15:01:57,895 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students ORDER BY students.lastname DESC
2023-06-02 15:01:57,897 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ()
(4, 'Abdul', 'Sattar')
(9, 'Abdul', 'Sattar')
(14, 'Abdul', 'Sattar')
(19, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')
(10, 'Priya', 'Rajhans')
(15, 'Priya', 'Rajhans')
(20, 'Priya', 'Rajhans')
(2, 'Rajiv', 'Khanna')
(7, 'Rajiv', 'Khanna')
(12, 'Rajiv', 'Khanna')
(17, 'Rajiv', 'Khanna')
(1, 'Ravi', 'Kapoor')
(6, 'Ravi', 'Kapoor')
(11, 'Ravi', 'Kapoor')
(16, 'Ravi', 'Kapoor')
(3, 'Komal', 'Bhandari')
(8, 'Komal', 'Bhandari')
(13, 'Komal', 'Bhandari')
(18, 'Komal', 'Bhandari')

between

In [89]:
from sqlalchemy import between
stmt = select([students]).where(between(students.c.id,2,4))
conn = engine.connect()
result = conn.execute(stmt)
for i in result:
    print(i)

2023-06-02 15:27:28,287 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id BETWEEN ? AND ?
2023-06-02 15:27:28,288 INFO sqlalchemy.engine.Engine [cached since 28.02s ago] (2, 4)
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')

count

In [90]:
from sqlalchemy.sql import func
result = conn.execute(select([func.count(students.c.id)]))
print (result.fetchone())

2023-06-02 15:29:02,492 INFO sqlalchemy.engine.Engine SELECT count(students.id) AS count_1
FROM students
2023-06-02 15:29:02,494 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ()
(20,)

max

In [103]:
#show tha maximaum id
from sqlalchemy.sql import func
result = conn.execute(select([func.max(students.c.id)]))
print (result.fetchone())

2023-06-02 15:35:48,581 INFO sqlalchemy.engine.Engine SELECT max(students.id) AS max_1
FROM students
2023-06-02 15:35:48,582 INFO sqlalchemy.engine.Engine [cached since 332.7s ago] ()
(20,)

min

In [95]:
# show the minimum id
from sqlalchemy.sql import func
result = conn.execute(select([func.min(students.c.id)]))
print (result.fetchone())

2023-06-02 15:31:25,468 INFO sqlalchemy.engine.Engine SELECT min(students.id) AS min_1
FROM students
2023-06-02 15:31:25,468 INFO sqlalchemy.engine.Engine [generated in 0.00097s] ()
(1,)

avg

In [96]:
from sqlalchemy.sql import func
result = conn.execute(select([func.avg(students.c.id)]))
print (result.fetchone())

2023-06-02 15:32:14,992 INFO sqlalchemy.engine.Engine SELECT avg(students.id) AS avg_1
FROM students
2023-06-02 15:32:14,992 INFO sqlalchemy.engine.Engine [generated in 0.00081s] ()
(10.5,)

In [97]:
"""label
result = conn.execute(select([func.max(students.c.lastname).label('Name')]))

print (result.fetchone())
"""

2023-06-02 15:32:28,451 INFO sqlalchemy.engine.Engine SELECT max(students.lastname) AS "Name"
FROM students
2023-06-02 15:32:28,452 INFO sqlalchemy.engine.Engine [generated in 0.00088s] ()
('Sattar',)

ORM mapper / dynamic rows

In [5]:
# creation of database and a table, and to map Python class 
from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sales.db', echo = True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class Customers(Base):
    __tablename__ = 'customers'
    id = Column(Integer, primary_key=True)

    name = Column(String)
    address = Column(String)
    email = Column(String)
Base.metadata.create_all(engine)

2023-06-02 17:22:02,176 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:22:02,177 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2023-06-02 17:22:02,178 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-02 17:22:02,181 INFO sqlalchemy.engine.Engine COMMIT

session creation by orm mapper

In [6]:
from sqlalchemy.orm import sessionmaker

# creation of session bound to engine object
Session = sessionmaker(bind = engine)

#creation of session object
session = Session()

adding rows to the table

In [7]:
c1 = Customers(name = 'Ravi Kumar', address = 'Station Road Nanded', email = 'ravi@gmail.com')
session.add(c1)
session.commit()

2023-06-02 17:22:09,903 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:22:09,905 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (?, ?, ?)
2023-06-02 17:22:09,906 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ('Ravi Kumar', 'Station Road Nanded', 'ravi@gmail.com')
2023-06-02 17:22:09,907 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
#complete code with seesion to craete a table
"""
from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sales.db', echo = True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class Customers(Base):
   __tablename__ = 'customers'
   
   id = Column(Integer, primary_key=True)
   name = Column(String)
   address = Column(String)
   email = Column(String)
   
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()

c1 = Customers(name = 'Ravi Kumar', address = 'Station Road Nanded', email = 'ravi@gmail.com')

session.add(c1)
session.commit()
"""

add multiple rows

In [8]:
session.add_all([
   Customers(name = 'Komal Pande', address = 'Koti, Hyderabad', email = 'komal@gmail.com'), 
   Customers(name = 'Rajender Nath', address = 'Sector 40, Gurgaon', email = 'nath@gmail.com'), 
   Customers(name = 'S.M.Krishna', address = 'Budhwar Peth, Pune', email = 'smk@gmail.com')]
)

session.commit()

2023-06-02 17:22:13,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:22:13,314 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (?, ?, ?)
2023-06-02 17:22:13,314 INFO sqlalchemy.engine.Engine [cached since 3.409s ago] ('Komal Pande', 'Koti, Hyderabad', 'komal@gmail.com')
2023-06-02 17:22:13,317 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (?, ?, ?)
2023-06-02 17:22:13,318 INFO sqlalchemy.engine.Engine [cached since 3.413s ago] ('Rajender Nath', 'Sector 40, Gurgaon', 'nath@gmail.com')
2023-06-02 17:22:13,319 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (?, ?, ?)
2023-06-02 17:22:13,319 INFO sqlalchemy.engine.Engine [cached since 3.414s ago] ('S.M.Krishna', 'Budhwar Peth, Pune', 'smk@gmail.com')
2023-06-02 17:22:13,320 INFO sqlalchemy.engine.Engine COMMIT

select and display from table in ORM

In [9]:
#creation of query method on table Customers
#altrenate code is :  result = Query(mappedClass/tablename, session)
q = session.query(Customers)

#all() of query object returns a resultset in the form of list of objects
result = q.all()

#fetch and display result
for row in result:
    print ("Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:22:16,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:22:16,586 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
2023-06-02 17:22:16,586 INFO sqlalchemy.engine.Engine [generated in 0.00055s] ()
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
Name:  Komal Pande Address: Banjara Hills Secunderabad Email: komal@gmail.com
Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com

In [ ]:
"""
The Query object also has following useful methods −

1	
add_columns()
It adds one or more column expressions to the list of result columns to be returned.

2	
add_entity()
It adds a mapped entity to the list of result columns to be returned.

3	
count()
It returns a count of rows this Query would return.

4	
delete()
It performs a bulk delete query. Deletes rows matched by this query from the database.

5	
distinct()
It applies a DISTINCT clause to the query and return the newly resulting Query.

6	
filter()
It applies the given filtering criterion to a copy of this Query, using SQL expressions.

7	
first()
It returns the first result of this Query or None if the result doesn’t contain any row.

8	
get()
It returns an instance based on the given primary key identifier providing direct access to the identity map of the owning Session.

9	
group_by()
It applies one or more GROUP BY criterion to the query and return the newly resulting Query

10	
join()
It creates a SQL JOIN against this Query object’s criterion and apply generatively, returning the newly resulting Query.

11	
one()
It returns exactly one result or raise an exception.

12	
order_by()
It applies one or more ORDER BY criterion to the query and returns the newly resulting Query.

13	
update()
It performs a bulk update query and updates rows matched by this query in the database.

"""

All code to display all records in Customers table

In [10]:
# code to display all records in Customers table
'''
class Customers(Base):
    __tablename__ = 'customers'
    id = Column(Integer, primary_key =  True)
    name = Column(String)

    address = Column(String)
    email = Column(String)
'''

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()
q=session.query(Customers)
result = session.query(Customers).all()

for row in result:
    print ("Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:22:21,384 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:22:21,385 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
2023-06-02 17:22:21,386 INFO sqlalchemy.engine.Engine [cached since 4.8s ago] ()
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
Name:  Komal Pande Address: Banjara Hills Secunderabad Email: komal@gmail.com
Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com

update by orm session

In [11]:
# fetch an object from the table whose primary key identifier in Customers table is primary key ID=2.
# use get() method of session 
x = session.query(Customers).get(2)

#display the result
print ("Name: ", x.name, "Address:", x.address, "Email:", x.email)

#update the address filed
x.address = 'Banjara Hills Secunderabad'

#commit the changes
session.commit()

Name:  Komal Pande Address: Banjara Hills Secunderabad Email: komal@gmail.com
2023-06-02 17:22:23,748 INFO sqlalchemy.engine.Engine COMMIT

rollback

In [12]:
# fetch first row
x = session.query(Customers).first()

#dispaly the result
print ("Name: ", x.name, "Address:", x.address, "Email:", x.email)

# change the name attribute
x.name = 'Ravi Shrivastava'

#display the changed result
print ("Name: ", x.name, "Address:", x.address, "Email:", x.email)

#change displayed but commited not updated in table
#retain the earlier persistent position by using rollback() method 
session.rollback()

# display the original unchanged result
print ("Name: ", x.name, "Address:", x.address, "Email:", x.email)

2023-06-02 17:22:27,718 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:22:27,719 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
 LIMIT ? OFFSET ?
2023-06-02 17:22:27,720 INFO sqlalchemy.engine.Engine [generated in 0.00113s] (1, 0)
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
Name:  Ravi Shrivastava Address: Station Road Nanded Email: ravi@gmail.com
2023-06-02 17:22:27,723 INFO sqlalchemy.engine.Engine ROLLBACK
2023-06-02 17:22:27,724 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:22:27,726 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = ?
2023-06-02 17:22:27,727 INFO sqlalchemy.engine.Engine [generated in 0.00098s] (1,)
Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com

For bulk updates, we shall use update() method of the Query object. Let us try and give a prefix, ‘Mr.’ to name in each row (except ID = 2). The corresponding update() statement is as follows

In [ ]:
"""
undefined result

session.query(Customers).filter(Customers.id != 2)

update({Customers.name:"Mr."+Customers.name},synchronize_session = False)
session.commit()
"""

filter by orm session

In [17]:
#general usecase of filter : session.query(class).filter(criteria)
# follwing resultset obtained by SELECT query on Customers table is filtered by a condition, (ID>2) 
result = session.query(Customers).filter(Customers.id>2)

# dispaly the result
for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
    
"""
complete code for filter is :

from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sales.db', echo = True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class Customers(Base):
   __tablename__ = 'customers'
   
   id = Column(Integer, primary_key = True)
   name = Column(String)

   address = Column(String)
   email = Column(String)

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()
result = session.query(Customers).filter(Customers.id>2)

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

"""

2023-06-02 17:27:13,014 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id > ?
2023-06-02 17:27:13,015 INFO sqlalchemy.engine.Engine [generated in 0.00094s] (2,)
ID: 3 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 4 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 5 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 6 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 7 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 8 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 9 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 10 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 11 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com

In [15]:
filter operators in orm mapper session

SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id > ?

In [27]:
# equal
result = session.query(Customers).filter(Customers.id == 2)
for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
    
# not equal to
result = session.query(Customers).filter(Customers.id != 2)
for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
    
# like
result = session.query(Customers).filter(Customers.name.like('Ra%'))
for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
    
#in
result = session.query(Customers).filter(Customers.id.in_([1,3]))
for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

    
#and
result = session.query(Customers).filter(Customers.id>2, Customers.name.like('Ra%'))
for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
"""
alternate approac to and
from sqlalchemy import and_
result = session.query(Customers).filter(and_(Customers.id>2, Customers.name.like('Ra%')))

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
   
"""

#or
from sqlalchemy import or_
result = session.query(Customers).filter(or_(Customers.id>2, Customers.name.like('Ra%')))

for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:38:02,836 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = ?
2023-06-02 17:38:02,837 INFO sqlalchemy.engine.Engine [cached since 490.9s ago] (2,)
ID: 2 Name:  Komal Pande Address: Banjara Hills Secunderabad Email: komal@gmail.com
2023-06-02 17:38:02,841 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id != ?
2023-06-02 17:38:02,842 INFO sqlalchemy.engine.Engine [cached since 401.1s ago] (2,)
ID: 1 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 3 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 4 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 5 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 6 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 7 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 8 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 9 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 10 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 11 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
2023-06-02 17:38:02,846 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.name LIKE ?
2023-06-02 17:38:02,847 INFO sqlalchemy.engine.Engine [cached since 337.6s ago] ('Ra%',)
ID: 1 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 3 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 5 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 7 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 9 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 11 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
2023-06-02 17:38:02,853 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id IN (?, ?)
2023-06-02 17:38:02,853 INFO sqlalchemy.engine.Engine [cached since 278.9s ago] (1, 3)
ID: 1 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 3 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
2023-06-02 17:38:02,855 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id > ? AND customers.name LIKE ?
2023-06-02 17:38:02,856 INFO sqlalchemy.engine.Engine [cached since 211.7s ago] (2, 'Ra%')
ID: 3 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 5 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 7 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 9 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 11 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
2023-06-02 17:38:02,862 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id > ? OR customers.name LIKE ?
2023-06-02 17:38:02,862 INFO sqlalchemy.engine.Engine [cached since 44.39s ago] (2, 'Ra%')
ID: 1 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 3 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 4 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 5 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 6 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 7 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 8 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 9 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 10 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 11 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com

In [28]:
from sqlalchemy import or_
result = session.query(Customers).filter(or_(Customers.id>2, Customers.name.like('Ra%')))

for row in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:38:10,297 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id > ? OR customers.name LIKE ?
2023-06-02 17:38:10,297 INFO sqlalchemy.engine.Engine [cached since 51.83s ago] (2, 'Ra%')
ID: 1 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 3 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 4 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 5 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 6 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 7 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 8 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 9 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com
ID: 10 Name:  Komal Pande Address: Koti, Hyderabad Email: komal@gmail.com
ID: 11 Name:  Rajender Nath Address: Sector 40, Gurgaon Email: nath@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com

In [33]:
#show all records in table Customers
result = session.query(Customers).all()

for i in result:
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:44:16,596 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
2023-06-02 17:44:16,598 INFO sqlalchemy.engine.Engine [cached since 1320s ago] ()
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com

In [32]:
#show all the records in table Customers
result = session.query(Customers).first()

# since only one record result cannot be iterarted with for loop
print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:42:33,453 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
 LIMIT ? OFFSET ?
2023-06-02 17:42:33,453 INFO sqlalchemy.engine.Engine [cached since 1206s ago] (1, 0)
ID: 12 Name:  S.M.Krishna Address: Budhwar Peth, Pune Email: smk@gmail.com

In [35]:
#one() :in case of With multiple rows found it gives the error
#       MultipleResultsFound: Multiple rows were found for one()
#       in case of now rows it gives an error NoResultFound: No row was found for one()
for i in session.query(Customers).one():
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:44:57,893 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
2023-06-02 17:44:57,894 INFO sqlalchemy.engine.Engine [cached since 1361s ago] ()

MultipleResultsFound: Multiple rows were found when exactly one was required

In [36]:
#scalar():
#It invokes the one() method, and upon success returns the first column of the row as follows
result = session.query(Customers).filter(Customers.id == 3).scalar()
for i in session.query(Customers).one():
    print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

2023-06-02 17:47:18,305 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = ?
2023-06-02 17:47:18,306 INFO sqlalchemy.engine.Engine [cached since 1046s ago] (3,)
2023-06-02 17:47:18,308 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
2023-06-02 17:47:18,308 INFO sqlalchemy.engine.Engine [cached since 1502s ago] ()

MultipleResultsFound: Multiple rows were found when exactly one was required

In [40]:
"""
This session describes creation of another table which is related to already existing one in our 
database. The customers table contains master data of customers. We now need to create invoices 
table which may have any number of invoices belonging to a customer. This is a case of one to many
relationships.in the follweing Invoices class applies ForeignKey construct on custid attribute. 
This directive indicates that values in this column should be constrained to be values present in
id column in customers table
"""



from sqlalchemy import create_engine, ForeignKey, Column, Integer, String
engine = create_engine('sqlite:///sales.db', echo = True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.orm import relationship

class Customer(Base):
    __tablename__ = 'customers'

    id = Column(Integer, primary_key = True)
    name = Column(String)
    address = Column(String)
    email = Column(String)


class Invoice(Base):
    __tablename__ = 'invoices'
   
    id = Column(Integer, primary_key = True)
    custid = Column(Integer, ForeignKey('customers.id'))
    invno = Column(Integer)
    amount = Column(Integer)
    customer = relationship("Customer", back_populates = "invoices")

Customer.invoices = relationship("Invoice", order_by = Invoice.id, back_populates = "customer")
Base.metadata.create_all(engine)

2023-06-02 17:57:14,830 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-02 17:57:14,830 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2023-06-02 17:57:14,832 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-02 17:57:14,834 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoices")
2023-06-02 17:57:14,834 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-02 17:57:14,835 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoices")
2023-06-02 17:57:14,835 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-02 17:57:14,837 INFO sqlalchemy.engine.Engine
CREATE TABLE invoices (
	id INTEGER NOT NULL,
	custid INTEGER,
	invno INTEGER,
	amount INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(custid) REFERENCES customers (id)
)


2023-06-02 17:57:14,837 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2023-06-02 17:57:14,842 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
SQLAlchemy.